@font-face {
  font-family: "ReemKufi";
  src: url("../assets/fonts/ReemKufi-Regular.woff") format("woff");
}

@font-face {
  font-family: "Rambla";
  src: url("../assets/fonts/rambla_regular.woff") format("woff"),
    url("../assets/fonts/rambla_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Doctor-Glitch";
  src: url("../assets/fonts/Doctor-Glitch.woff") format("woff");
}
