@include large {
  header {
    width: 100%;
    position: fixed;
    height: 60px;
    display: flex;
    justify-content: center;
    z-index: 100;
    transition: ease-in-out 0.5s;

    .nav {
      margin: auto;
      display: flex;
      align-items: center;
      width: 95%;
      justify-content: space-between;


      .menu {
        display: flex;
        align-items: center;  
        justify-content: center; 
          
        & ul {
          display: flex;
          align-items: center;
          justify-content: space-between;

          & li { 
            text-transform: uppercase;
            cursor: pointer;
            user-select: none;
            margin: 0 40px;
            display: table-cell; 
            position: relative; 
            padding: 10px 0;
            
            & a {
              font-size: 21px;
              color: white;
              text-decoration: none;
              transition: ease 0.2s;
              font-family: $Primary-font;
            }

            a:after {    
              background: none repeat scroll 0 0 transparent;
              bottom: 0;
              content: "";
              display: block;
              height: 3px;
              left: 50%;
              position: absolute;
              background: $Secondary-color;
              transition: width 0.3s ease 0s, left 0.3s ease 0s;
              width: 0;
            }
            a:hover:after { 
              width: 100%; 
              left: 0;
            }
          }
        }
      }


      .right {
        width: auto;
        align-items: center;
        margin-left: 400px;
        
        .search {
          text-decoration: none;
        }
        .bell {
          margin-left: 15px;
          text-decoration: none;
        }
      }
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}

@media(max-width: 1025px) {
  header {
    display: none;
  }
}

header.sticky {
  background-color:$Primary-color;
  transition: ease-in-out 0.5s;
}