main {
  background-color: #01091a;

  /* ---- Section presentation ---- */

  .home__presentation {
    display: flex;
    height: auto;
    position: relative;
    overflow: hidden;
    width: fit-content;

    @include medium {
      height: auto;
    }

    .presentation {
      &__img {
        height: auto;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;

          @include medium {
            height: auto;
          }
        }
      }

      &__title {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 5;
        margin-top: 40px;
        display: flex;
        flex-direction: row;

        @include medium {
          margin-top: 85px;
        }

        @include large {
          margin-top: 120px;
        }

        h1 {
          font-size: 35px;
          text-transform: uppercase;
          font-family: "ReemKufi";
          color: transparent;

          @include small {
            font-size: 45px;
          }

          @include medium {
            font-size: 75px;
          }

          @include large {
            font-size: 125px;
          }

          -webkit-text-stroke: 1px white;
          -moz-text-stroke: 1px white;
          white-space: nowrap;
          animation: play 10s linear infinite;

          @keyframes play {
            100% {
              transform: translateX(-40%);
            }
          }
        }
      }

      &__button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: auto;
        height: auto;
        bottom: 30px;
        right: 25px;

        @include small {
          bottom: 50px;
        }

        @include medium {
          bottom: 140px;
        }
        @include large {
          bottom: 160px;
        }

        .play {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          button {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: transparent;
            border-radius: 50px;
            width: 42px;
            height: 42px;
            border: $Secondary-color 1.5px solid;
            margin-right: 20px;
            @include medium {
              margin-right: 8px;
              width: 60px;
              height: 60px;
            }

            @include large {
              border: 2.5px solid $Secondary-color;
              width: 80px;
              height: 80px;
            }

            img {
              transform: translateX(2px);
              color: white;
              width: 8px;

              @include medium {
                width: 10px;
              }

              @include large {
                width: 14px;
              }
            }
          }
          h3 {
            display: none;

            @include medium {
              display: block;
              margin-right: 40px;
              font-size: 18px;
              text-transform: uppercase;
            }
          }
        }

        .info {
          button {
            border: white solid 0.5px;
            font-size: 14px;
            background-color: transparent;
            color: white;
            text-transform: uppercase;
            padding: 3px 10px;

            @include medium {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  /* ---- Section resume ----*/

  .home__resume {
    display: flex;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    flex-direction: column;
    margin-left: 10px;

    .resume {
      &__title {
        margin-bottom: 10px;
        h2 {
          color: white;

          font-family: $Secondary-font;
          font-size: 16px;
          @include large {
            font-size: 24px;
          }
        }
      }

      &__movies {
        display: flex;
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        img {
          width: 200px;
          padding-right: 10px;
          flex: 0 0 auto;
          @include medium {
            width: 250px;
          }
          @include large {
            width: 325px;
          }
        }
      }
    }
  }

  /*  ---- Section new ---- */

  .home__new {
    display: flex;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    flex-direction: column;
    margin-left: 10px;
    .new {
      margin-bottom: 10px;
      &__title {
        margin-bottom: 10px;
        h2 {
          color: white;
          font-family: "Rambla";
          font-weight: bold;
          font-size: 16px;

          @include large {
            font-size: 24px;
          }
        }
      }

      &__movies {
        display: flex;
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        img {
          height: 170px;
          flex: 0 0 auto;
          padding-right: 10px;

          @include large {
            height: 200px;
          }
        }
      }
    }
  }

  /* ---- Section Thonos ---- */

  .home__thonosmovie {
    display: flex;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;

    .thonosmovie {
      display: flex;
      &__title {
        margin-bottom: 10px;

        img {
          width: 220px;
        }
      }

      &__img {
        img {
          height: 200px;
        }
      }

      &__info,
      &__info__desktop {
        margin-top: 10px;

        .button {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .play {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-right: 50px;

            @include small {
              padding-right: 80px;
            }

            button {
              display: flex;
              justify-content: center;
              align-items: center;

              background-color: transparent;
              border-radius: 50px;
              width: 42px;
              height: 42px;
              border: $Secondary-color 1.5px solid;
              margin-right: 12px;
              img {
                transform: translateX(2px);
                color: white;
                width: 8px;
              }
            }

            h2 {
              font-size: 16px;
              font-family: "Rambla";
              text-transform: uppercase;
            }
          }

          .fav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            h2 {
              margin-right: 12px;
            }

            img {
              width: 20px;
            }
          }
        }

        .texte {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 10px;

          p {
            width: 85%;
          }
        }
      }

      &__info__desktop {
        display: none;
      }
    }
  }

  @include medium {
    .home__thonosmovie {
      justify-content: center;
      align-items: center;
      flex-flow: row;
      width: auto;

      .thonosmovie {
        &__title {
          display: flex;
          flex-flow: column;
          justify-content: center;
          width: 40%;

          img {
            width: 250px;
          }
        }

        &__img {
          img {
            height: 250px;
          }
        }

        &__info {
          display: none;
        }

        &__info__desktop {
          display: block;
          .button {
            justify-content: flex-start;

            .play {
              padding-right: 50px;
              button {
                width: 45px;
                height: 45px;
                border-width: 2px;
              }
            }
          }
          .texte {
            justify-content: end;
            font-size: 20px;
          }
        }
      }
    }
  }

  @include large {
    .home__thonosmovie {
      .thonosmovie {
        &__title {
          img {
            width: 400px;
          }
        }

        &__img {
          img {
            height: 350px;
          }
        }

        &__info__desktop {
          .button {
            .play {
              button {
                width: 75px;
                height: 75px;
              }
              h2 {
                font-size: 20px;
              }
            }

            h2 {
              font-size: 20px;
            }
          }

          .texte {
            font-size: 26px;
          }
        }
      }
    }
  }
}

/*  ---- Section top 10 ---- */

.home__top10 {
  margin-left: 10px;
  margin-bottom: 20px;
  .top10__title {
    margin-bottom: 10px;
    color: white;

    font-family: "Rambla";
    font-weight: bold;
    font-size: 16px;

    @include large {
      font-size: 24px;
    }
  }
  .top10__img {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    img {
      height: 170px;
      padding-right: 10px;
      flex: 0 0 auto;
      z-index: 1;
    }
    h2 {
      font-family: "Doctor-Glitch";
      font-size: 100px;
      color: #a0a0a0;
      opacity: 55%;
      flex: 0 0 auto;
      display: flex;
      align-items: flex-end;

      z-index: 0;
    }
  }
}

/*  ---- Section tendency ---- */

.home__tendency {
  margin-left: 10px;
  margin-bottom: 20px;
  .tendency__title {
    margin-bottom: 10px;
    color: white;

    font-family: "Rambla";
    font-weight: bold;
    font-size: 16px;

    @include large {
      font-size: 24px;
    }
  }
  .tendency__img {
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    img {
      height: 170px;
      padding-right: 10px;
      flex: 0 0 auto;
    }
  }
}

/*  ---- Section originals ---- */

.home__originals {
  margin-left: 10px;
  margin-bottom: 20px;
  .originals__title {
    margin-bottom: 10px;
    color: white;

    font-family: "Rambla";
    font-weight: bold;
    font-size: 16px;

    @include large {
      font-size: 24px;
    }
  }
  .originals__img {
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    img {
      height: 200px;
      padding-right: 10px;
      flex: 0 0 auto;

      @include large {
        height: 400px;
      }
    }
  }
}

/*  ---- Section mustsee ---- */

.home__mustsee {
  margin-left: 10px;
  margin-bottom: 20px;

  .mustsee__title {
    margin-bottom: 10px;
    color: white;

    font-family: "Rambla";
    font-weight: bold;
    font-size: 16px;

    @include large {
      font-size: 24px;
    }
  }
  .mustsee__img {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    img {
      height: 170px;
      padding-right: 10px;
      flex: 0 0 auto;
    }
  }
}
