main {
  background-color: #01091a;

  /* ---- Section presentation ---- */

  .home__presentation {
    display: flex;
    height: auto;
    position: relative;

    .presentation {
      &__img {
        height: auto;
        img {
          width: 100vw;
          height: auto;
          object-fit: cover;
        }
      }

      &__title {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 5;
        margin-top: 40px;
        display: flex;
        flex-direction: row;

        h1 {
          font-size: 45px;
          text-transform: uppercase;
          font-family: "ReemKufi";
          color: transparent;

          -webkit-text-stroke: 1px white;
          -moz-text-stroke: 1px white;
          white-space: nowrap;
          animation: play 10s linear infinite;

          @keyframes play {
            100% {
              transform: translateX(-40%);
            }
          }
        }
      }

      &__button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: auto;
        height: auto;
        bottom: 40px;
        right: 20px;

        .play {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          button {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: transparent;
            border-radius: 50px;
            width: 42px;
            height: 42px;
            border: orange 1.5px solid;
            margin-right: 16px;

            img {
              transform: translateX(2px);
              color: white;
              width: 8px;
            }
          }
          h3 {
            display: none;
          }
        }

        .info {
          button {
            border: white solid 0.5px;
            font-size: 14px;
            background-color: transparent;
            color: white;
            text-transform: uppercase;
            padding: 3px 10px;
          }
        }
      }
    }
  }

  /* ---- Section resume ----*/

  .home__resume {
    display: flex;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    flex-direction: column;
    margin-left: 10px;

    .resume {
      &__title {
        margin-bottom: 10px;
        h2 {
          color: white;

          font-family: "Rambla";
          font-weight: bold;
          font-size: 16px;
        }
      }

      &__movies {
        display: flex;
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        img {
          width: 200px;
          padding-right: 10px;
          flex: 0 0 auto;
        }
      }
    }
  }

  /*  ---- Section new ---- */

  .home__new {
    display: flex;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    flex-direction: column;
    margin-left: 10px;
    .new {
      margin-bottom: 10px;
      &__title {
        margin-bottom: 10px;
        h2 {
          color: white;
          font-family: "Rambla";
          font-weight: bold;
          font-size: 16px;
        }
      }

      &__movies {
        display: flex;
        flex-direction: row;
        img {
          height: 170px;

          padding-right: 10px;
        }
      }
    }
  }

  /* ---- Section Thonos ---- */

  .home__thonosmovie {
    display: flex;
    height: auto;
    position: relative;
    margin-bottom: 20px;

    flex-direction: column;
    align-items: center;
    .thonosmovie {
      &__title {
        margin-bottom: 10px;

        img {
          width: 250px;
        }
      }

      &__img {
        img {
          height: 200px;
        }
      }

      &__info {
        margin-top: 10px;

        .button {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .play {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-right: 80px;

            button {
              display: flex;
              justify-content: center;
              align-items: center;

              background-color: transparent;
              border-radius: 50px;
              width: 42px;
              height: 42px;
              border: orange 1.5px solid;
              margin-right: 12px;
              img {
                transform: translateX(2px);
                color: white;
                width: 8px;
              }
            }

            h2 {
              font-size: 16px;
              font-family: "Rambla";
              text-transform: uppercase;
            }
          }

          .fav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            h2 {
              margin-right: 12px;
            }

            img {
              width: 20px;
            }
          }
        }

        .texte {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 10px;

          p {
            width: 85%;
          }
        }
      }
    }
  }
}

/*  ---- Section top 10 ---- */

.home__top10 {
  margin-left: 10px;
  margin-bottom: 20px;
  .top10__title {
    margin-bottom: 10px;
    color: white;

    font-family: "Rambla";
    font-weight: bold;
    font-size: 16px;
  }
  .top10__img {
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    h2 {
      font-family: "Doctor-Glitch";
      font-size: 100px;
      color: #a0a0a0;
      opacity: 55%;
      flex: 0 0 auto;
    }
    img {
      height: 170px;
      padding-right: 10px;
      flex: 0 0 auto;
    }
  }
}

/*  ---- Section tendency ---- */

.home__tendency {
  margin-left: 10px;
  margin-bottom: 20px;
  .tendency__title {
    margin-bottom: 10px;
    color: white;

    font-family: "Rambla";
    font-weight: bold;
    font-size: 16px;
  }
  .tendency__img {
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    img {
      height: 170px;
      padding-right: 10px;
      flex: 0 0 auto;
    }
  }
}

/*  ---- Section originals ---- */

.home__originals {
  margin-left: 10px;
  margin-bottom: 20px;
  .originals__title {
    margin-bottom: 10px;
    color: white;

    font-family: "Rambla";
    font-weight: bold;
    font-size: 16px;
  }
  .originals__img {
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    img {
      height: 200px;
      padding-right: 10px;
      flex: 0 0 auto;
    }
  }
}

/*  ---- Section mustsee ---- */

.home__mustsee {
  margin-left: 10px;
  margin-bottom: 20px;

  .mustsee__title {
    margin-bottom: 10px;
    color: white;

    font-family: "Rambla";
    font-weight: bold;
    font-size: 16px;
  }
  .mustsee__img {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    img {
      height: 170px;
      padding-right: 10px;
      flex: 0 0 auto;
    }
  }
}
