.infoS__presentation {
  display: flex;
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
  width: fit-content;

  .presentation {
    &__img {
      height: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .i-large,
      .i-medium,
      .i-small {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .i-large {
        background: url("../assets/series/snow1.png") repeat 0px 0px;
        animation: dropFlowParticles 8s linear infinite;
      }
      .i-medium {
        background: url("../assets/series/snow3.png") repeat 0px 0px;
        animation: dropFlowParticles 12s linear infinite;
      }
      .i-small {
        background: url("../assets/series/snow4.png") repeat 0px 0px;
        animation: dropFlowParticles 27s linear infinite;
      }

      @keyframes dropFlowParticles {
        from {
          background-position: 0 0;
        }
        to {
          background-position: 0 500px;
        }
      }
    }
  }
}
