
/*  ---- Section présentation ---- */
.bloc {
	border: 1px solid #FFFFFF;
	height: 44%;
	top: 30px;
	left: 24px;
	right: 24px;
	position: absolute;
	display: flex;
	justify-content: center;
	@include medium {
		height: 45%;
		top: 30px;
		left: 35px;
		right: 35px;
		position: absolute;
		display: flex;
		justify-content: center;
	}
	@include large {
		height: 65%;
		top: 40px;
		left: 85px;
		right: 85px;
		position: absolute;
		display: flex;
		justify-content: center;
	}
  }


.infoS__presentation {
  display: flex;
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
  width: fit-content;

  @include small {
    height: 400px;
  }

  @include medium {
    height: auto;
  }

  .presentation {
    &__img {
      height: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include medium {
          height: auto;
        }
      }

      .i-large,
      .i-medium,
      .i-small {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .i-large {
        background: url("../assets/series/snow1.png") repeat 0px 0px;
        animation: dropFlowParticles 8s linear infinite;
      }
      .i-medium {
        background: url("../assets/series/snow3.png") repeat 0px 0px;
        animation: dropFlowParticles 12s linear infinite;
      }
      .i-small {
        background: url("../assets/series/snow4.png") repeat 0px 0px;
        animation: dropFlowParticles 27s linear infinite;
      }

      @keyframes dropFlowParticles {
        from {
          background-position: 0 0;
        }
        to {
          background-position: 0 500px;
        }
      }
	}
	&__title {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 5;
        margin-top: 85px;
        display: flex;
        flex-direction: row;

        @include medium {
          margin-top: 85px;
        }

        @include large {
          margin-top: 120px;
        }

        h1 {
          font-size: 35px;
          text-transform: uppercase;
          font-family: "ReemKufi";
          color: transparent;

          @include small {
            font-size: 45px;
          }

          @include medium {
            font-size: 75px;
          }

          @include large {
            font-size: 125px;
          }

          -webkit-text-stroke: 1px white;
          -moz-text-stroke: 1px white;
          white-space: nowrap;
          animation: play 10s linear infinite;

          @keyframes play {
            100% {
              transform: translateX(-40%);
            }
          }
        }
	  }
	  &__button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: auto;
        height: auto;
        bottom: 30px;
        right: 25px;

        @include small {
          bottom: 50px;
        }

        @include medium {
          bottom: 140px;
        }
        @include large {
          bottom: 160px;
        }

        @include Xlarge {
          bottom: 350px;
        }

        .play {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          button {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: transparent;
            border-radius: 50px;
            width: 42px;
            height: 42px;
            border: $Secondary-color 1.5px solid;
            margin-right: 20px;
            @include medium {
              margin-right: 8px;
              width: 60px;
              height: 60px;
            }

            @include large {
              border: 2.5px solid $Secondary-color;
              width: 80px;
              height: 80px;
            }

            img {
              transform: translateX(2px);
              color: white;
              width: 8px;

              @include medium {
                width: 10px;
              }

              @include large {
                width: 14px;
              }
            }
          }
          h3 {
            display: none;

            @include medium {
              display: block;
              margin-right: 40px;
              font-size: 18px;
              text-transform: uppercase;
            }
          }
        }

        .info {
          button {
            border: white solid 0.5px;
            font-size: 14px;
            background-color: transparent;
            color: white;
            text-transform: uppercase;
            padding: 3px 10px;

            @include medium {
              font-size: 18px;
            }
          }
        }
      }
  }
}

/*  ---- Section trailer ---- */

.infoS__trailer {
	margin-left: 24px;
	margin-bottom: 20px;
	@include medium {
		margin-left: 60px;
	}
	@include large {
		margin-left: 95px;
	}
	.trailer{
		&__title{
			h2 {
				font-size: 25px;
				margin-bottom: 7px;
				font-family: "Rambla";
			}
		}
		&__img{
			display: flex;
			justify-content: center;
			img{
				width: 300px;
				@include medium {
					width: 400px;
				}
				@include large {
					width: 500px;
				}
			}
			@include medium {
				display: flex;
				justify-content: start;
			}
			@include large {
				display: flex;
				justify-content: start;
			}
		}
	}
	
}

/*  ---- Section saison ---- */

.infoS__saison {
	margin-left: 24px;
	margin-bottom: 20px;
	@include medium {
		margin-left: 60px;
	}
	@include large {
		margin-left: 95px;
	}
	.saison {
		&__texte{
			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;
			
			h2 {
				font-size: 16px;
				margin-bottom: 11px;
				padding-right: 12px;
				display: flex;
				flex-wrap: nowrap;
				font-family: "Rambla";
				@include large {
					font-size: 25px;
				}
			}
		}
		&__img {
			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;

			img {
				width: 173px;
				padding-right: 2px;
				@include medium {
					width: 220px;
				}
				@include large {
					width: 325px;
				}
			}
		}
	}
}

/*  ---- Section overview ---- */

.infoS__overview {
	margin-left: 24px;
	margin-bottom: 20px;
	@include medium {
		margin-left: 60px;
	}
	@include large {
		margin-left: 95px;
	}
	.overview{
		&__title{
			h2{
				font-size: 25px;
				margin-bottom: 16px;
				font-family: "Rambla";
				@include large {
					font-size: 35px;
				}
			}
		}
		&__text {
			width: 290px;
			height: 180;
			font-family: "Rambla";
			@include medium {
				height: 70px;
				width: 500px;
			}
			@include large {
				height: 80px;
				width: 643px;
			}
			p{
			font-size: 14px;
			font-family: "Rambla";
			@include large {
				font-size: 18px;
			}
			}
		}
	}
}

/*  ---- Section about ---- */

.infoS__about{
	margin-left: 24px;
	margin-bottom: 20px;
	@include medium {
		margin-left: 60px;
	}
	@include large {
		margin-left: 95px;
	}
	.about{
		&__title {
			h2{
				font-size: 25px;
				margin-bottom: 16px;
				font-family: "Rambla";
				@include large {
					font-size: 35px;
				}
			}
		}
	}
}

/*  ---- Section cast ---- */

.infoS__cast{
	margin-left: 24px;
	margin-bottom: 20px;
	@include medium {
		margin-left: 60px;
	}
	@include large {
		margin-left: 95px;
	}
	.cast{
		&__title{
			h2 {
				font-size: 25px;
				margin-bottom: 16px;
				font-family: "Rambla";
				@include large {
					font-size: 35px;
				}
			}
		}
	}
	.cast__actor{
		display: flex;
		flex-wrap: wrap;
		margin-right: 5px;
		.cast__travis{
			display:flex;
			flex-wrap: nowrap;
			margin-right: 30px;
			margin-bottom: 16px;
			img {
				width:42px;
				margin-right: 6px;
				@include large {
					width: 65px;
				}
			}
			.travis{
				&__text {
					h2 {
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
							font-family: "Rambla";
						}
					}
					p {
						color:orange;
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
				}
			}
		}
		.cast__alexander{
			display:flex;
			flex-wrap: nowrap;
			margin-right: 10px;
			margin-bottom: 16px;
			img {
				width:42px;
				margin-right: 6px;
				@include large {
					width: 65px;
				}
			}
			.alexander{
				&__text {
					h2 {
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
					p {
						color:orange;
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
				}
			}
		}
		.cast__alex{
			display:flex;
			flex-wrap: nowrap;
			margin-right: 10px;
			margin-bottom: 16px;
			img {
				width:42px;
				margin-right: 6px;
				@include large {
					width: 65px;
				}
			}
			.alex{
				&__text {
					h2 {
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
					p {
						color:orange;
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
				}
			}
		}
		.cast__katheryn{
			display:flex;
			flex-wrap: nowrap;
			margin-right: 10px;
			margin-bottom: 16px;
			img {
				width:42px;
				margin-right: 6px;
				@include large {
					width: 65px;
				}
			}
			.katheryn{
				&__text {
					h2 {
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
					p {
						color:orange;
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
				}
			}
		}
		.cast__clive{
			display:flex;
			flex-wrap: nowrap;
			margin-right: 10px;
			margin-bottom: 16px;
			img {
				width:42px;
				margin-right: 6px;
				@include large {
					width: 65px;
				}
			}
			.clive{
				&__text {
					h2 {
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
					p {
						color:orange;
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
				}
			}
		}
		.cast__gustaf{
			display:flex;
			flex-wrap: nowrap;
			margin-right: 10px;
			margin-bottom: 16px;
			img {
				width:42px;
				margin-right: 6px;
				@include large {
					width: 65px;
				}
			}
			.gustaf{
				&__text {
					h2 {
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
					p {
						color:orange;
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
				}
			}
		}
		.cast__george{
			display:flex;
			flex-wrap: nowrap;
			margin-right: 10px;
			margin-bottom: 16px;
			img {
				width:42px;
				margin-right: 6px;
				@include large {
					width: 65px;
				}
			}
			.george{
				&__text {
					h2 {
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
					p {
						color:orange;
						font-size: 12px;
						font-family: "Rambla";
						@include large {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}


/*  ---- Section kind ---- */

.infoS__kind {
	margin-left: 10px;
	margin-bottom: 20px;
	@include medium {
		margin-left: 60px;
	}
	@include large {
		margin-left: 95px;
	}
	.kind {
		&__title {
			h2 {
				font-size: 25px;
				margin-bottom: 16px;
				margin-left: 10px;
				font-family: "Rambla";
				@include large {
					font-size: 35px;
				}
			}
		}
		&__img {
			margin-left: 10px;
			img {
				width: 118px;
				margin-right: 12px;
				@include large {
					width: 150px;
				}
			}
		}
	}
}
