@mixin small {
  @media (min-width: 414px) {
    @content;
  }
}
@mixin medium {
  @media (min-width: 767px) {
    @content;
  }
}
@mixin large {
  @media (min-width: 1025px) {
    @content;
  }
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66%);
  }
}

$Primary-color: #01091a;

$Primary-font: "Rambla";
