@mixin small {
  @media (min-width: 414px) {
    @content;
  }
}
@mixin medium {
  @media (min-width: 767px) {
    @content;
  }
}
@mixin large {
  @media (min-width: 1025px) {
    @content;
  }
}

@font-face {
  font-family: "Rambla";
  src: url("../assets/fonts/rambla_regular.woff") format("woff"),
    url("../assets/fonts/rambla_regular.woff2") format("woff2");
}

@font-face {
  font-family: "Rambla-bold";
  src: url("../assets/fonts/ramba_bold.woff") format("woff"),
    url("../assets/fonts/rambla_bold.woff2") format("woff2");
}

@font-face {
  font-family: "Ikaros";
  src: url("../assets/fonts/ikaros_regular.woff") format("woff"),
    url("../assets/fonts/ikaros_regular.woff2") format("woff2");
}

@keyframes moveSlideshowleft {
  100% {
    transform: translateX(-50%);
  }
}

@keyframes moveSlideshowright {
  0% {
    transform: translateX(-50%);
  }
}

$Primary-color: #01091a;
$Secondary-color: #f2821b;

$Primary-font: "Rambla";
$Secondary-font: "Rambla-Bold";
$Terciary-font: "Ikaros";


$sizes: 1 -8px, 3 -15px, 5 -20px, 7 -12px, 9 -15px, 11 -22px, 13 -20px, 15 -20px,
  17 -22px, 19 -32px;

@each $child, $size in $sizes {
  .top10__img :nth-child(#{$child}) {
    margin-right: $size;
  }
}

